Package      Version
------------ -------
blinker      
click        
colorama     
Flask        
Flask-WTF    
gunicorn     
itsdangerous 
Jinja2       
MarkupSafe   
Pillow      
pip         
PyPDF2       
reportlab    
setuptools  
Werkzeug     
WTForms      
